<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pohoocredit.profitcard.mall.order.dao.MallPostageRuleMapper">
  <resultMap id="BaseResultMap" type="com.pohoocredit.profitcard.mall.order.model.MallPostageRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="from_begin" jdbcType="BIGINT" property="fromBegin" />
    <result column="from_end" jdbcType="BIGINT" property="fromEnd" />
    <result column="postage" jdbcType="BIGINT" property="postage" />
    <result column="count_way" jdbcType="TINYINT" property="countWay" />
    <result column="is_free" jdbcType="TINYINT" property="isFree" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>